{{> banner }}

<section class="section-sm">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8  mb-5 mb-lg-0">
                <h2 class="h5 section-title">Najnowsze</h2>
                {{#each notices}}
                <article class="card mb-4">
                    <div class="card-body">
                        <h3 class="mb-3"><a class="post-title" href="/notice/{{this.id}}">{{this.title}}</a></h3>
                        <ul class="card-meta list-inline">
                            <li class="list-inline-item">
                                <i class="ti-timer"></i><b>{{secondsToString this.readTime}}</b> czytania
                            </li>
                            <li class="list-inline-item">
                                <i class="ti-calendar"></i><b>{{toRelativeDate this.date}}</b>
                            </li>
                            <li class="list-inline-item">
                                <i class="ti-eye"></i><b>{{this.views}}</b> wyświetleń
                            </li>
                            <li class="list-inline-item">
                            <i class="ti-heart"></i><b>{{this.likes}}</b> polubień
                            </li>
                        </ul>
                        <p>{{this.excerpt}}</p>
                        <a href="/notice/{{this.id}}" class="btn btn-outline-primary">Zobacz</a>
                    </div>
                </article>
                {{/each}}
            </div>
        </div>
    </div>
</section>
