<section class="section">
    <div class="container">
        <div class="row justify-content-center">
            <div class=" col-lg-9   mb-5 mb-lg-0">
                <article>
                    <form class="card-body needs-validation" method="POST" action="{{postUri}}" novalidate>
                        <div>
                            <input type="text" class="form-control" id="title" name="title" aria-describedby="tytuł" placeholder="Tytuł" value="{{notice.title}}" required>
                            <div class="invalid-feedback">Uzupełnij tytuł</div>
                        </div>

                        <ul class="card-meta my-3 list-inline">
                            <li class="list-inline-item">
                                <i class="ti-timer"></i><b> - </b>czytania
                            </li>
                            <li class="list-inline-item">
                                <i class="ti-calendar"></i><b>{{toRelativeDate notice.date}}</b>
                            </li>
                            <li class="list-inline-item">
                                <i class="ti-eye"></i><b>{{notice.views}}</b> wyświetleń
                            </li>
                            <li class="list-inline-item">
                                <i class="ti-heart"></i><b>{{notice.likes}}</b> polubień
                            </li>
                        </ul>
                        <div class="content">
                            <textarea class="form-control" id="body" name="body" rows="25" required>{{notice.body}}</textarea>
                            <div class="invalid-feedback">Uzupełnij treść ogłoszenia</div>
                        </div>
                        <input type="hidden" name="key" value="{{notice.editKey}}" />
                        <div class="mb-5 border-top mt-4 pt-5">
                            <div class="alert alert-warning" role="alert">
                                Twoje hasło edycji to "{{notice.editKey}}" zapisz je aby móc edytować to ogłoszenie w przyszlosci
                            </div>
                            <button type="submit" class="btn btn-primary">Zapisz</button>
                        </div>
                    </form>
                    <script>
                        // Example starter JavaScript for disabling form submissions if there are invalid fields
                        (function() {
                            'use strict';
                            window.addEventListener('load', function() {
                                // Fetch all the forms we want to apply custom Bootstrap validation styles to
                                var forms = document.getElementsByClassName('needs-validation');
                                // Loop over them and prevent submission
                                var validation = Array.prototype.filter.call(forms, function(form) {
                                    form.addEventListener('submit', function(event) {
                                        if (form.checkValidity() === false) {
                                            event.preventDefault();
                                            event.stopPropagation();
                                        }
                                        form.classList.add('was-validated');
                                    }, false);
                                });
                            }, false);
                        })();
                    </script>
                </article>
            </div>
        </div>
    </div>
</section>
